/* my-style.css */
/*.content-wrapper>div {
    float: left;
    width: 50%;
    padding: 0 1em;
}*/

.region-header {
    background-color: transparent;
    background: url('images/bgheader-1057x687.jpg') 0 0;
    background-size: cover;
    padding: 7em 0 0.2em;
    color: white;
    background-repeat: no-repeat;
}

.text-white
, .text-white a{
    color: #FFF;
}
.text-light
, .text-light a{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 6px #000;
}

/* Couleur de fond du Header de la page */
/*.region-header {
    background-color: rgba(147, 162, 177, 0.22);
    padding: 2em 1em;
    border: 2px solid rgba(173, 173, 173, 0.21);
    box-shadow: 0px 6px 13px -6px;
}*/

#main-menu .container {
    background-color: rgba(85, 85, 85, 0.86);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(147, 162, 177, 0.9)), to(#282a2c));
    background: -webkit-linear-gradient(top, rgba(147, 162, 177, 0.9), #282a2c);
}
/*
.header .block-views-blockchauffeurs-block-1 .view-content .field-content img {
    border-radius: 10px;
    border: 3px solid white;
}*/

.content
, .content-wrapper {
    font-size: 1.2em;
}

.site-name a {
    line-height: initial;
    display: block;
    font-size: 1.7em;
    font-family: verdana;
    width: 450px;
}
.site-slogan {
    font-size: 2em;
    line-height: initial;
}
.temoignage-images .field--name-field-image .field__item{
    float:left;
    margin-right: 1em;
}

/* Images chauffeurs dans le content type voitures */
.page .field--name-field-chauffeur {
    border-top: 1px solid grey;
    padding-top: 1em;
}

.page .field--name-field-chauffeur .field__item {
    margin-top: 1em;
}

#panel_first .container {
     background: none;
}

#panel_voiture {
    margin-bottom: 15px;
}
#panel_voiture .container {
    padding: 15px;
}

/* Add some margin to row class from bootstrap */
.row-margin-bottom
, .col-margin-bottom{
  margin-bottom: 2em;
}

/* Add padding-top on top of in block.css */
#slideshow .container {
    padding-top: 1em;
}

.panel_first .views-element-container.block-views{
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 2px solid #CCC;
}

.titre-voiture-region-slideshow {
    font-size: 1.3em;
}

#slideshow .container .views-field-title.titre-slideshow{
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.images-fiches a {
    display: block;
}
.images-fiches a img {
    padding: 0em 0 1.5em;
}

.custom-titre-site .ligne-2 {
    font-style: italic;
    text-shadow: black 1px 2px 3px;
    padding: 0.5em;
    /*text-transform: uppercase;*/
    background-color: rgba(55, 165, 42, 0.51);
}
.custom-titre-site p.h1{
    /* box-shadow: hsla(0, 0%, 100%, 0.47) 0px -12px 16px 10px; */
    padding: 0.2em 0.5em;
    background-color: rgba(165, 42, 42, 0.78);
}


.views-more-link{
    color: brown;
}


.sidebar .block#block-views-block-chauffeurs-block-2
, .sidebar .block#block-contact{
    padding: 0;
    border: none;
}
.sidebar .block#block-contact{
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
    border-bottom: 1px solid #C3C1C1;
}


.btn-primary:active, .btn-primary.active {
    background-color: #A22D2D;
    border-color: #A22D2D;
}
